@import "tailwindcss";

@theme {
  --font-display: "Open Sans", "sans-serif", "Roboto", "sans-serif";

  --color-primary: oklch(53.15% 0.1914 259.09);
  --color-dark-hard: oklch(25.16% 0.0449 244.62);
  --color-dark-soft: oklch(34.03% 0.0625 244.49);
  --color-dark-light: oklch(53.74% 0.0404 243.51);
}
